<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">

    <title></title>
</head>
<body>

    <h1 id="page-title">THE WORLD OF ROGER DEAN - IMAGEBOARD</h1>
    
    <div id="main">
        <!-- ************************* VUE START ********************** -->
        
        <display-img-modal v-if="imgClicked" :id="imgClicked" @close="closeModal"></display-img-modal>
        
        <form class="input-form">
            <input v-model="title" type="text" name="title" id="" placeholder="Title">
            <input v-model="username" type="text" name="username" id="" placeholder="User name">
            <input v-model="description" type="text" name="description" id="" placeholder="Image Description">
            <label for="file"></label>
            <input @change="fileSelectHandler" type="file" name="file" id="file" accept="image/*">
            <button @click.prevent="clickHandler">Submit</button>
            <div v-if="spinner"><div class="dots-3"></div></div>
        </form>
        
        <section class="wrapper-grid">
            <div v-for="image in images" :key="image.id" class="img-card" @click="openImgModal(image.id)">
                    <img :src="image.url" :alt="image.description">
                    <p class="img-title">{{image.title}}</p>
            </div>
        </section>

        <button v-if="displayBtn" class="more-btn" @click="showMoreImg" >More</button>

        <!-- ************************* VUE END ********************** -->
    </div>

    <footer>&#169;Luise Brandenburger 2021</footer>


    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>
