* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(65, 65, 65);
    --main-color: rgba(31, 29, 28, 0.967);
    --gradient: linear-gradient(#ffd166c7, transparent),
        linear-gradient(to top left, #66ffabc9, transparent),
        linear-gradient(to top right, #ff6666bf, transparent);
    --main-font: 'Source Code Pro', monospace;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    font-family: var(--main-font);
}

#page-title {
    margin: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

form {
    display: flex;
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, #ffd166c7, #ff6666bf, #66ffabc9) 1;
    align-self: center;
}

button {
    margin: 10px 20px;
    font-family: var(--main-font);
    cursor: pointer;
    align-self: center;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: var(--main-color);
}

input {
    width: 200px;
    margin: 10px 20px;
    padding: 2px;
    font-family: var(--main-font);

}

.wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    overflow: hidden;
    column-gap: 20px;
    justify-items: center;
}


.img-card {
    width: 400px;
    border: 5px solid var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
    
}

.img-card:hover {
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, #ffd166c7, #ff6666bf, #66ffabc9) 1;
}

img {
    object-fit: cover;
    height: 350px;
    max-width: 100%;
}

.img-title {
    margin-top: 20px;
}

footer {
    margin-top: 10px;
    align-items:center;
    height: 30px;
}

.dots-3 {
    margin-top: 15px;
    margin-left: 20px;
    width:50px;
    height:24px;
    background: 
    radial-gradient(circle closest-side,currentColor 90%,#0000) 0%   50%,
    radial-gradient(circle closest-side,currentColor 90%,#0000) 50%  50%,
    radial-gradient(circle closest-side,currentColor 90%,#0000) 100% 50%;
    background-size:calc(100%/3) 12px;
    background-repeat: no-repeat;
    animation:d3 1s infinite linear;
}
@keyframes d3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}


/*************************** MODAL ****************************/

.modal-container {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: #000000db;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    border-radius: 3px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--gradient);
    background-blend-mode: screen;
    width: 60vw;
    height: 80vh;
    padding: 40px;
}

.img-container {
    height: 400px;
    width: 100%;
    text-align: center;
}

.inner-img-modal {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.text-container {
    width: 90%;
    align-self: center;
}

.text-container h3 {
    margin-bottom: 10px;
}

#modal-btn:hover {
    background-color: rgb(145, 145, 145);
}
