* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(189, 189, 189)
    /* --main-color: rgb(189, 189, 189); */
}


body {
    /* background-color: #ffd166; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background: linear-gradient(#ffd166, transparent),
        linear-gradient(to top left, #66ffab, transparent),
        linear-gradient(to top right, #ff6666, transparent);
    background-blend-mode: screen; */
    /* width: 100vw;
    height: 100vh; */
    background-color: var(--bg-color);
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Rock 3D', cursive; */
    font-family: 'Source Code Pro', monospace;
}

#page-title {
    margin: 20px;
    font-size: 2rem;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: grey;
    align-self: center;
}

button {
    width: 100px;
    margin: 10px 20px;

}

input {
    width: 200px;
    margin: 10px 20px;
}

.wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    overflow: hidden;
    column-gap: 20px;
    justify-items: center;
}


.img-card {
    width: 400px;
    border: 2px solid #f7ede2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
    
}

.img-card:hover {
    border: 5px solid violet;
}

img {
    object-fit: cover;
    height: 350px;
    max-width: 100%;
}

.img-title {
    margin-top: 20px;
}

footer {
    margin-top: 10px;
    align-items:center;
    height: 30px;
}


.dots-3 {
  width:50px;
  height:24px;
  background: 
    radial-gradient(circle closest-side,currentColor 90%,#0000) 0%   50%,
    radial-gradient(circle closest-side,currentColor 90%,#0000) 50%  50%,
    radial-gradient(circle closest-side,currentColor 90%,#0000) 100% 50%;
  background-size:calc(100%/3) 12px;
  background-repeat: no-repeat;
  animation:d3 1s infinite linear;
}
@keyframes d3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}